<div class="container mat-app-background">
    <div class="container">
        <form (ngSubmit)="login()" [formGroup]="authForm">
            <mat-form-field appearance="fill" class="email">
                <input type="email" matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
            <div *ngIf="authForm.controls['email'].invalid && 
                    (authForm.controls['email'].dirty 
                        || authForm.controls['email'].touched)" 
                class="alert alert-danger"
            >
                <div *ngIf="authForm.controls['email'].errors != null 
                    && authForm.controls['email'].errors.required">
                    Inform an email.
                </div>
            </div>
            
            <mat-form-field appearance="fill" class="password">
                <input type="password" matInput placeholder="Password" formControlName="password" />
            </mat-form-field>
            <button mat-raised-button class="login" 
                mat-raised-button color="primary">Login</button>
        </form>
    </div>
</div>
