<button mat-icon-button [matMenuTriggerFor]="menu" 
    aria-label="toggle to open menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="home()" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <mat-divider></mat-divider>
    <button (click)="showContacts()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Contacts</span>
    </button>
    <mat-divider></mat-divider>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>