<div class="form-container">
    <form (ngSubmit)="save()"
        [formGroup]="editForm" >
        <!-- name -->
        <div class="form-group row">
            <mat-form-field appearance="fill" class="email">
                <mat-label>Name(*):</mat-label>
               <input type="text" matInput formControlName="name" [(ngModel)]="name"
                class="form-control"> 
            </mat-form-field>
            
            <div *ngIf="editForm.controls['name'].invalid && 
                    (editForm.controls['name'].dirty 
                        || editForm.controls['name'].touched)" 
                class="alert alert-danger"
            >
                <div *ngIf="editForm.controls['name'].errors != null 
                    && editForm.controls['name'].errors.required">
                    Name is required
                </div>
            </div>
        </div>

        <!-- email -->
        <div class="form-group row">
            <mat-form-field appearance="fill" class="email">
                <mat-label>Email(*):</mat-label>
                <input type="text" formControlName="email" [(ngModel)]="email"
                    matInput class="form-control">
            </mat-form-field>
            
            <div *ngIf="editForm.controls['email'].invalid && 
                    (editForm.controls['email'].dirty 
                        || editForm.controls['email'].touched)" 
                class="alert alert-danger"
            >
                <div *ngIf="editForm.controls['email'].errors != null 
                    && editForm.controls['email'].errors.required">
                    Email is required
                </div>
            </div>
        </div>

        <!-- gender -->
        <div class="form-group row">
            <mat-form-field appearance="fill" class="email">
                <mat-label>Gender(*):</mat-label>
                <select matNativeControl formControlName="gender" 
                    [(ngModel)]="gender" required>
                    <option>(Choose)</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Not Binary</option>
                </select>
            </mat-form-field>
            
            <div *ngIf="editForm.controls['gender'].invalid && 
                    (editForm.controls['gender'].dirty 
                        || editForm.controls['gender'].touched)" 
                class="alert alert-danger"
            >
                <div *ngIf="editForm.controls['gender'].errors != null 
                    && editForm.controls['gender'].errors.required">
                    Gender is required
                </div>
            </div>
        </div>

       <!-- document -->
       <div class="row">
        <mat-form-field appearance="fill" class="email">
            <mat-label>Document(*):</mat-label>
            <input matInput type="text" formControlName="document" [(ngModel)]="document"
                class="form-control">
        </mat-form-field>
        <div *ngIf="editForm.controls['document'].invalid && 
                (editForm.controls['document'].dirty 
                    || editForm.controls['document'].touched)" 
            class="alert alert-danger"
        >
            <div *ngIf="editForm.controls['document'].errors != null 
                && editForm.controls['document'].errors.required">
                Document is required
            </div>
        </div>
        </div>
        
       <!-- bithday -->
       <div class="row">
            <mat-form-field appearance="birthday">
                <mat-label>Birthday(*):</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday" 
                    [(ngModel)]="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="editForm.controls['birthday'].invalid && 
                    (editForm.controls['birthday'].dirty 
                        || editForm.controls['birthday'].touched)" 
                class="alert alert-danger"
            >
                <div *ngIf="editForm.controls['birthday'].errors != null 
                    && editForm.controls['birthday'].errors.required">
                    Birthday is required
                </div>
            </div>
        </div>

        <div class="form-group row">
            <button type="submit" 
                class="btn btn-primary w100pc">
                Save
            </button>
            <button type="button" (click)="cancel()"
                class="btn btn-primary w100pc">
                Cancel
            </button>
        </div>
    </form> 
</div>