.example-spacer {
    flex: 1 1 auto;
  }

.single-dashboard-card {
  max-width: 400px;
  margin: 0 10px;
  float: left;
  text-align: center;
}

.single-dashboard-card .value-info {
  color: #439876;
  font-size: 32px;
}