<app-primary-toolbar></app-primary-toolbar>

<div class="container">

    <mat-card class="single-dashboard-card">
        <mat-card-header>
            <mat-card-title>Total of Contacts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <span class="value-info">10</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Manage</button>
        </mat-card-actions>
    </mat-card>
    <!-- <mat-divider></mat-divider> -->
    <mat-card class="single-dashboard-card">
        <mat-card-header>
            <mat-card-title>Number of Natural Person</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
              <span class="value-info">8</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Manage</button>
        </mat-card-actions>
    </mat-card>
    <!-- <mat-divider></mat-divider> -->
    <mat-card class="single-dashboard-card">
        <mat-card-header>
            <mat-card-title>Number of Legal Person</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <span class="value-info">2</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Manage</button>
        </mat-card-actions>
    </mat-card>

</div>