<app-primary-toolbar></app-primary-toolbar>

<br>
<div class="container">

    <div *ngIf="!editing">

        <div class="filter-place">
            <form (ngSubmit)="filter()" [formGroup]="filterForm">
                <mat-form-field appearance="fill" class="show-removed">
                    <mat-label>Show removed:</mat-label>
                    <select matNativeControl formControlName="showRemoved" 
                        [(ngModel)]="showRemoved" required>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </mat-form-field>
                <button>Apply</button>
            </form>
        </div>

        <button mat-raised-button class="new" 
            mat-raised-button color="primary" (click)="new()">New</button>
        <br>
        <table mat-table [dataSource]="contacts" class="mat-elevation-z8">
            <!-- Id -->
            <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Type -->
            <ng-container matColumnDef="Type">
                <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{personTypeTranslate(row.personType)}} </mat-cell>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <!-- Email -->
            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>

            <!-- CreatedAt -->
            <ng-container matColumnDef="CreatedAt">
                <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.createdAt}} 
                </mat-cell>
            </ng-container>

            <!-- button -->
            <ng-container matColumnDef="Actions">
                <md-header-cell *matHeaderCellDef> Actions </md-header-cell>
                <md-cell *matCellDef="let row" >
                     <button type="button" mat-raised-button color="Primary"
                        (click)="edit(row.id)">Edit</button> 
                     <button type="button" mat-raised-button color="Warn" *ngIf="!row.removed" 
                        (click)="delete(row.id)">Delete</button> 
                </md-cell>
            </ng-container> 

            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['Id', 'Type', 'Name', 'Email', 'CreatedAt', 'Actions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['Id', 'Type', 'Name', 'Email', 'CreatedAt', 'Actions']"></mat-row>
        </table>
    </div>

    <div *ngIf="editing && personType == 0">
        
        <mat-card class="single-dashboard-card">
            <mat-card-content>
                <p>
                    <button mat-raised-button color="primary" 
                        (click)="chooseType(1)" class="button-choose-type">Natural Person</button>
                </p>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="single-dashboard-card">
            <mat-card-content>
                <p>
                    <button mat-stroked-button color="warn" 
                        (click)="chooseType(2)"
                        class="button-choose-type">Legal Person</button>
                </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div *ngIf="editing && personType == 1">
        <app-natural-person-create></app-natural-person-create>
    </div>

    <div *ngIf="editing && personType == 2">
        <app-legal-person-edit></app-legal-person-edit>
    </div>

</div>